<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="/" class="w3-bar-item w3-button">EXPRESS DEMO</a>
       
          <div class="w3-right w3-hide-small">
            <a href="/about" class="w3-bar-item w3-button">About</a>
            <a href="/images" class="w3-bar-item w3-button">Images</a>
          </div>
        </div>
  <div class = "images">
      <style>
       .images{
         display:flex;
       }
        </style>
  <img src="gif1.webp">
  <img src="gif2.webp">
  
  </div>
</body>
</html>